.note-board {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    background: radial-gradient(ellipse at top, #6cb1ec, transparent),
    radial-gradient(ellipse at bottom, #14c5e1, transparent);
    position: relative;
    
    .note-board_header {
        width: 100%;

        button {
            width: 100%;
            font-size: 14px;
            padding: 5px;
            cursor: pointer;
        }
    }

    .note-board_card-area {
        height:100%;
        display: flex;
    }
}